.splash {
  position: relative;
  display: flex;
  justify-content: center;
}

.splash__background {
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 20rem, 0 80%);
  overflow: hidden;
  height: 35rem;
  object-fit: cover;
}

.splash__content {
  width: 70%;
  max-width: 60rem;
  position: absolute;
  top: 10rem;
  background-color: rgb(48, 48, 48);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0px 2px 20px 2px rgb(19, 19, 19);
}

p {
  font-size: 1.5rem;
}

.splash__content > * {
  text-align: center;
}
