@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background: white;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-family: "Poppins", sans-serif;
}

.hsuper {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

/* --------- Logos and Company Name ------------- */
.sticky {
  position: fixed !important;
  background-color: white;
  z-index: 100;
}

.Logo {
  text-align: center;
  padding-top: 2vh;
  top: 0px;
}

.logoname {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.head1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
}
/* h1 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
} */

.head2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.head3 {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
}
.head4 {
  font-size: 1.4em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
}

.text1 {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: justify;
}

.timer {
  text-align: center;
}

/* Splash Screen */

.spacer {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.spacer-sm {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.spacer-xs {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.navitem {
  text-decoration: none;
  color: black;
}

.navitem:hover {
  color: #febb4e;
}

.splashTitle {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.planCard {
  background-color: rgb(255, 243, 205);
  border-radius: 0.5rem;
  border: 1px solid rgb(255, 193, 7);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.loginCard {
  padding: 2rem;
}

.loginInput {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

/* ------------ Landing Menu ------------*/
.btnTitle {
  margin-top: 5%;
}

.featureCard {
  background-color: #fdd9a25d;
  border-radius: 16px;
  padding: 2rem;
  width: 95vw;
  margin: 0 auto;
}

.intervalbtn,
.blogBtn {
  height: 200px;
  margin: 20px;
  border-radius: 15px;
  font-size: 1.5rem;
  background-color: white;
}

.featureCardTitle {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0 auto;
  background: radial-gradient(85.84% 61.87% at 7.52% 38.09%, #ff302c 0%, #febb4e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ------------ Timers --------------- */

#bigtime {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 0;
}

.smalltime {
  background-color: #ced0d3;
  color: #6c757d;
  padding: 1vh;
  border-radius: 8px;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  box-shadow: 2px 4px 20px 1px rgba(78, 78, 78, 0.2);
}

.resttime {
  background-color: #dbefd7;
  color: #57c458;
  padding: 1vh;
  border-radius: 8px;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  box-shadow: 2px 4px 20px 1px rgba(9, 78, 59, 0.2);
}

/* ---------- Cards --------------- */

.smallcard {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  box-shadow: 2px 4px 20px 1px rgba(1, 32, 80, 0.2);
}

.titlecard {
  background-color: rgb(255, 193, 7);
  border-radius: 5px;
  color: rgb(255, 243, 205);
  padding: 1vh;
}

.valuecard {
  background-color: rgb(255, 243, 205);
  border-radius: 5px;
  color: rgb(255, 193, 7);
  padding: 1vh;
}

/* Training Cards */

.recordcard {
  border-radius: 15px;
  border: 1px solid black;
}

.trainingRecords {
  width: 60%;
  margin: 0 auto;
}

.table {
  width: 80%;
}

/* --------- Buttons --------------- */
.info:hover {
  color: white;
}

.featureCard .info:hover {
  color: #000000;
}

.col-4 .ctrlbtn {
  padding: 5rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 2rem;
  width: 100%;
}

.col-6 .btmnav {
  width: 100%;
}

.btn {
  font-weight: 600;
}

.btn-outline-success {
  background-color: rgb(209, 231, 221);
  box-shadow: 2px 4px 20px 1px rgba(0, 61, 33, 0.2);
}
.btn-outline-danger {
  background-color: rgb(248, 215, 218);
  box-shadow: 2px 4px 20px 1px rgba(44, 11, 14, 0.2);
}
.btn-outline-warning {
  background-color: rgb(255, 243, 205);
  box-shadow: 2px 4px 20px 1px rgba(102, 77, 3, 0.2);
}
.btn-outline-info {
  background-color: rgb(207, 244, 252);
  box-shadow: 2px 4px 20px 1px rgba(0, 75, 92, 0.2);
}

.disabled {
  border: none;
  background: #ced6e0 !important;
  color: #9ea9b8 !important;
}

.completeTraining,
.saveTraining {
  padding: 3rem;
  border-radius: 10px;
}

/* ------ Button Descriptions ----------- */

.actionBtn {
  padding: 1rem 3rem !important;
  border-radius: 2rem !important;
}

.metaDescription {
  color: rgb(167, 175, 186);
  font-weight: 400;
}

.featureCard .info {
  padding: 20px 20px 20px 20px;
  font-size: 1rem;
  color: #ffc107;
}

.info {
  padding: 20px 20px 20px 20px;
  font-size: 1rem;
  color: rgb(69, 144, 253);
}

/* Suggest Page */

.inputContainer {
  max-width: 70rem;
}

.inputCard {
  background-color: rgb(255, 243, 205);
  border-radius: 8px;
  margin: 1rem;
}

.inputCardTitle {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  color: rgb(255, 153, 0);
}

.inputCardEmoji {
  font-size: 5rem;
  text-align: center;
}

/* Forms */
.DistanceForm {
  max-width: 60rem;
}

/* Distance Timer Form */

.startSuggestedTraining,
.useCustomTraining {
  padding: 5rem;
  border-radius: 1rem;
}

.input-group-text {
  border-radius: 1rem;
}

/* Animations */
.section {
  transition: transform 1s, opacity 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* Images */
.lazyImage {
  filter: blur(20px);
}

/* Questionnaire */

.overlap {
  position: absolute;
}

.checkboxBtn {
  padding: 1rem 3rem !important;
  border-radius: 2rem !important;
}

.questionCard {
  background-color: #fff6e9;
  padding: 2rem;
  border-radius: 1rem;
}

.proceedBtn {
  padding: 1rem 3rem !important;
  border-radius: 2rem !important;
}
.reverseBtn {
  padding: 1rem 3rem !important;
  border-radius: 2rem !important;
}
.submitBtn {
  padding: 1rem 3rem !important;
  border-radius: 2rem !important;
}

.slider {
  max-width: 50rem;
  height: 50rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
}

.slide {
  width: 100%;
  transition: transform 0.5s;
}

.form-control:focus {
  border-color: #ffe398;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgb(253, 183, 92);
}

.form-control {
  border-radius: 2rem;
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
  padding-left: 2rem;
}

.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 2rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  color: #6c757d;
}

.dots__dot {
  border: none;
  background-color: #b3a791;
  opacity: 0.7;
  height: 10px;
  width: 10px;
  border-radius: 10rem;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #feb272;
  opacity: 1;
}

.questionnaireTitle {
  position: relative;
}

.progressChip {
  position: absolute;
  font-weight: 600;
  font-size: 0.4em;
  background-color: #fff6e9;
  color: #ffc107;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.progressChip:hover {
  background-color: #f5e1c5;
}

.stdBtn {
  padding: 1rem 3rem !important;
  border-radius: 2rem !important;
}

/* Suggestion Display */

.suggestCard {
  background-color: #fff6e9;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.partCard {
  background-color: #feb272;
  border-radius: 0.7rem;
  padding: 0.2rem;
}

.suggestChip {
  font-weight: 600;
  font-size: 1em;
  background-color: #ffe0b4;
  color: #5e4600;
  padding: 0.7rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.suggestChip:hover {
  background-color: #ffc36f;
}

.gotoWorkoutBtn {
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 1rem;
}

.infoChip {
  font-weight: 500;
  font-size: 0.7em;
  background-color: #ffe0b4;
  color: #5e4600;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.infoChip:hover {
  background-color: #ffc36f;
}

.suggestCardHead {
  background-color: #feb272;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-top: -2rem;
  padding: 1rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

/* TwoPointFour Track */
.table {
  color: #5e4600 !important;
  border-color: #feb272 !important;
}

.productChip {
  border-radius: 5rem;
  background-color: #feb272;
  color: #a05623;
}

.productLogo {
  background-color: white;
  border-radius: 2rem;
  padding: 0.5rem;
}

.productText {
  font-size: 1.7rem;
  font-weight: 800;
}

.attribution {
  position: absolute;
  bottom: 0.1rem;
  left: 0.1rem;
  color: #c5c5c5;
  font-size: 0.8rem;
}

.attribution > a {
  text-decoration: none;
  color: #c5c5c5;
}

.infoSVG {
  height: 1.5rem;
}

.info__text {
  font-size: 0.8rem;
  color: #5e4600;
}

.interval__tutorial {
  position: fixed;
  top: 5rem;
  display: flex;
  justify-content: center;
}

.interval__content {
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 2rem;
  font-size: 1.5rem;
}

.modal-image {
  width: 100%;
}
