.cart__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(58, 9, 9);
}

.cart__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart__price {
  color: rgb(128, 39, 17);
}

.cart__numbers {
  display: flex;
  flex-direction: row;
}

.cart__numbers:last-child {
  margin-left: 2rem;
}

.cart__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}
