.modal {
  background-color: white;
  position: fixed;
  z-index: 2;
  top: 40vh;
  color: black;
  border-radius: 1rem;
  padding: 2rem;
  list-style-type: none;
  width: 80%;
  max-width: 75rem;
  align-self: center;
}
